chrom chr
pos bp
rsID rsID
p p
a1 effect_allele
a2 non_effect_allele
effect beta
weight N
process GWAS1.txt

chrom chr
pos bp
rsID rsID
p p
a1 effect_allele
a2 non_effect_allele
oddsratio or
N 85000
process GWAS2.txt

chrom chr
pos bp
rsID rsID
p p
a1 effect_allele
a2 non_effect_allele
N 53000
process GWAS3.txt

